*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
h1{
    text-align: center;
}
.container{
    margin-inline: 2rem;
    display: grid;
    gap: 1.5rem;
    padding-bottom: 2rem;
    max-width: 1200px;
    /* margin-inline: auto; */
}
.box{
    min-height: 200px;
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.box1{
    background-color: #ba56f7;
}
.box2{
    background-color: tomato;
}
.box3{
    background-color: rgb(164, 159, 168);
}
.box4{
    background-color: brown;
}
.box5{
    background-color: springgreen;
}

@media(min-width:650px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .box{
        min-height: 300px;
    }
    .box1, .box5{
        grid-column-start: span 2;
    }
    .box3{
        grid-row-start: span 2;

    }
}
@media (min-width:850px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

}