* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.wrapper {
  width: 100%;
  background-color: #001422;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  overflow: hidden;
}
.circle {
  border-radius: 100%;
  position: absolute;
}
.circle1 {
  background-image: radial-gradient(
    63.62% 63.62% at 50% 50%,
    #ff00c7 0%,
    #bd95ff 0.01%,
    #a661ff 32.29%,
    #6100ff 98.59%
  );
  height: 100px;
  width: 100px;
  top: -40px;
  left: -50px;
}
.circle2 {
  background-image: radial-gradient(
    69.62% 69.62% at 50% 50%,
    #ea8bfa 0%,
    #7526f5 100%
  );
  height: 200px;
  width: 200px;
  top: -45px;
  left: 200px;
}
.circle3 {
  background-image: radial-gradient(
    67.47% 67.47% at 50% 50%,
    #fed0ff 0%,
    #7f00ff 100%
  );
  height: 150px;
  width: 150px;
  top: 300px;
  left: -50px;
}
.card-container {
  position: relative;
}
.card {
  /* height: 400px; */
  padding-bottom: 20px;
  /* max-width: 300px; */
  background-color: rgba(93, 141, 125, 0.388);
  backdrop-filter: blur(10px);
  border-radius: 11px;
  border: 0.94px solid #ffffff4d;
  width: min(300px, 90vw);

}
.card-content {
  border: 0.74px solid #ffffff4d;
  border-radius: 10px;
  padding: 10px;
}
.card img {
  width: 100%;
  vertical-align: middle;
}
.tagHeartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
  margin-top: 20px;
}
.tag {
  background-color: #f1c6443d;
  border-radius: 5.21px;
  padding: 8px;
  color: #f2bf2692;
}
.card-title {
  font-size: 18px;
  padding-inline: 10px;
  margin-top: 10px;
  font-weight: 700;
}
.author {
  padding-inline: 10px;
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 11.9px;
  line-height: 11.16px;
  letter-spacing: 1%;
}
.star-rating {
  padding-inline: 8px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.star-rating img {
  width: 100px;
}
.star-rating .rating {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 11.16px;
  letter-spacing: 0%;
  color: #f1c644;
}
.star-rating .enroll {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 13.39px;
  line-height: 11.16px;
  letter-spacing: 0%;
  color: #dbdbdb;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.footer img {
  width: 20px;
}
.footer p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 17.85px;
  line-height: 11.16px;
  letter-spacing: -2%;
  color: #ffffff;
  font-size: 14px;
}
