.container{
    min-height: 60vh;
    background-color: lightseagreen;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    /* grid-template-rows: 100px 100px 100px; */
    grid-template-rows: repeat(3, 100px);
}
.box{
    font-size: 4rem;
    /* width: 80px;
    height: 80px; */
}
.box-1{
    background-color: brown;
    grid-column-start: 1;
    grid-row-start: 1;

}
.box-2{
    background-color: seagreen;
}
.box-3{
    background-color: slateblue;
}
.box-4{
    background-color: powderblue;
}
.box-5{
    background-color: peru;
}
.box-6{
    background-color: hotpink;
}
.box-7{
    background-color: khaki;
}
.box-8{
    background-color: sienna;
}
.box-9{
    background-color: lightcoral;
}
.box-10{
    background-color: red;
}
.box-11{
    background-color: blue;
}
.box-12{
    background-color: blueviolet;
}