*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: cursive;
}
.hashtag-header{
    /* height: 180px; */
    background-color: #065FD4;
    color: white;
    padding: 3rem;
    background-image: url('./background.png');
    background-size: 260px;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -150px;
}
.hashtag-header h1{
    margin-bottom: 1rem;
}
.hashtag-header span{
    font-size: 24px;
}
.hashtag-header img{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 5px solid white;
    vertical-align: middle;
}
img+img{
    margin-left: -15px;
}