*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-color: #D5E1EF;
    position: relative;
    
}
.qr-card{
    max-height: 420px;
    max-width: 280px;
    background-color: white;
    box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    padding: 8px;

}
.qr-card img{
    width: 100%;
    border-radius: 15px;
}
.qr-card h2{
    text-align: center;
    word-spacing: -1px;
    font-weight: 900;
    margin-top: 10px;
}
.qr-card p{
    text-align: center;
    color: grey;
    margin-top: 10px;
}